<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{96,0}</string>
			<string>{96,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{96,0}</string>
			<string>{192,0}</string>
			<string>{192,179}</string>
			<string>{96,179}</string>
		</array>
		<array>
			<string>{192,0}</string>
			<string>{288,0}</string>
			<string>{288,179}</string>
			<string>{192,179}</string>
		</array>
		<array>
			<string>{288,0}</string>
			<string>{384,0}</string>
			<string>{384,179}</string>
			<string>{288,179}</string>
		</array>
		<array>
			<string>{384,0}</string>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{384,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{0,60}</string>
			<string>{480,60}</string>
			<string>{480,120}</string>
			<string>{0,120}</string>
		</array>
		<array>
			<string>{0,120}</string>
			<string>{480,120}</string>
			<string>{480,179}</string>
			<string>{0,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{160,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{480,0}</string>
			<string>{480,90}</string>
			<string>{160,90}</string>
		</array>
		<array>
			<string>{160,90}</string>
			<string>{480,90}</string>
			<string>{480,179}</string>
			<string>{160,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{320,0}</string>
			<string>{320,90}</string>
			<string>{0,90}</string>
		</array>
		<array>
			<string>{320,0}</string>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{320,179}</string>
		</array>
		<array>
			<string>{0,90}</string>
			<string>{320,90}</string>
			<string>{320,179}</string>
			<string>{0,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{240,0}</string>
			<string>{240,90}</string>
			<string>{0,90}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{320,0}</string>
			<string>{320,90}</string>
			<string>{240,90}</string>
		</array>
		<array>
			<string>{320,0}</string>
			<string>{400,0}</string>
			<string>{400,90}</string>
			<string>{320,90}</string>
		</array>
		<array>
			<string>{400,0}</string>
			<string>{480,0}</string>
			<string>{480,90}</string>
			<string>{400,90}</string>
		</array>
		<array>
			<string>{0,90}</string>
			<string>{240,90}</string>
			<string>{240,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{240,90}</string>
			<string>{320,90}</string>
			<string>{320,179}</string>
			<string>{240,179}</string>
		</array>
		<array>
			<string>{320,90}</string>
			<string>{400,90}</string>
			<string>{400,179}</string>
			<string>{320,179}</string>
		</array>
		<array>
			<string>{400,90}</string>
			<string>{480,90}</string>
			<string>{480,179}</string>
			<string>{400,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{240,0}</string>
			<string>{240,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{240,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{96,0}</string>
			<string>{96,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{96,0}</string>
			<string>{384,0}</string>
			<string>{384,179}</string>
			<string>{96,179}</string>
		</array>
		<array>
			<string>{384,0}</string>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{384,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{480,0}</string>
			<string>{480,90}</string>
			<string>{0,90}</string>
		</array>
		<array>
			<string>{0,90}</string>
			<string>{480,90}</string>
			<string>{480,179}</string>
			<string>{0,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{96,0}</string>
			<string>{96,90}</string>
			<string>{0,90}</string>
		</array>
		<array>
			<string>{96,0}</string>
			<string>{288,0}</string>
			<string>{288,179}</string>
			<string>{96,179}</string>
		</array>
		<array>
			<string>{288,0}</string>
			<string>{384,0}</string>
			<string>{384,90}</string>
			<string>{288,90}</string>
		</array>
		<array>
			<string>{384,0}</string>
			<string>{480,0}</string>
			<string>{480,90}</string>
			<string>{384,90}</string>
		</array>
		<array>
			<string>{0,90}</string>
			<string>{96,90}</string>
			<string>{96,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{288,90}</string>
			<string>{384,90}</string>
			<string>{384,179}</string>
			<string>{288,179}</string>
		</array>
		<array>
			<string>{384,90}</string>
			<string>{480,90}</string>
			<string>{480,179}</string>
			<string>{384,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{160,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{320,0}</string>
			<string>{320,179}</string>
			<string>{160,179}</string>
		</array>
		<array>
			<string>{320,0}</string>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{320,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{80,0}</string>
			<string>{80,90}</string>
			<string>{0,90}</string>
		</array>
		<array>
			<string>{80,0}</string>
			<string>{240,0}</string>
			<string>{240,90}</string>
			<string>{80,90}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{400,0}</string>
			<string>{400,90}</string>
			<string>{240,90}</string>
		</array>
		<array>
			<string>{400,0}</string>
			<string>{480,0}</string>
			<string>{480,90}</string>
			<string>{400,90}</string>
		</array>
		<array>
			<string>{0,90}</string>
			<string>{160,90}</string>
			<string>{160,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{160,90}</string>
			<string>{320,90}</string>
			<string>{320,179}</string>
			<string>{160,179}</string>
		</array>
		<array>
			<string>{320,90}</string>
			<string>{480,90}</string>
			<string>{480,179}</string>
			<string>{320,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{240,0}</string>
			<string>{240,35}</string>
			<string>{183,35}</string>
			<string>{183,89.5}</string>
			<string>{0,89.5}</string>
		</array>
		<array>
			<string>{183,35}</string>
			<string>{240,35}</string>
			<string>{240,89.5}</string>
			<string>{183,89.5}</string>
		</array>
		<array>
			<string>{240,35}</string>
			<string>{296,35}</string>
			<string>{296,89.5}</string>
			<string>{240,89.5}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{480,0}</string>
			<string>{480,89.5}</string>
			<string>{296,89.5}</string>
			<string>{296,35}</string>
			<string>{240,35}</string>
		</array>
		<array>
			<string>{0,89.5}</string>
			<string>{183,89.5}</string>
			<string>{183,143}</string>
			<string>{240,143}</string>
			<string>{240,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{183,89.5}</string>
			<string>{240,89.5}</string>
			<string>{240,143}</string>
			<string>{183,143}</string>
		</array>
		<array>
			<string>{240,89.5}</string>
			<string>{296,89.5}</string>
			<string>{296,143}</string>
			<string>{240,143}</string>
		</array>
		<array>
			<string>{296,89.5}</string>
			<string>{480,89.5}</string>
			<string>{480,179}</string>
			<string>{240,179}</string>
			<string>{240,143}</string>
			<string>{296,143}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{120,0}</string>
			<string>{120,56}</string>
			<string>{0,56}</string>
		</array>
		<array>
			<string>{120,0}</string>
			<string>{240,0}</string>
			<string>{240,56}</string>
			<string>{120,56}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{360,0}</string>
			<string>{360,56}</string>
			<string>{240,56}</string>
		</array>
		<array>
			<string>{360,0}</string>
			<string>{480,0}</string>
			<string>{480,56}</string>
			<string>{360,56}</string>
		</array>
		<array>
			<string>{0,56}</string>
			<string>{480,56}</string>
			<string>{480,124}</string>
			<string>{0,124}</string>
		</array>
		<array>
			<string>{0,124}</string>
			<string>{120,124}</string>
			<string>{120,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{120,124}</string>
			<string>{240,124}</string>
			<string>{240,179}</string>
			<string>{120,179}</string>
		</array>
		<array>
			<string>{240,124}</string>
			<string>{360,124}</string>
			<string>{360,179}</string>
			<string>{240,179}</string>
		</array>
		<array>
			<string>{360,124}</string>
			<string>{480,124}</string>
			<string>{480,179}</string>
			<string>{360,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{160,56}</string>
			<string>{0,56}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{320,0}</string>
			<string>{320,56}</string>
			<string>{160,56}</string>
		</array>
		<array>
			<string>{320,0}</string>
			<string>{480,0}</string>
			<string>{480,56}</string>
			<string>{320,56}</string>
		</array>
		<array>
			<string>{0,56}</string>
			<string>{160,56}</string>
			<string>{160,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{160,56}</string>
			<string>{320,56}</string>
			<string>{320,179}</string>
			<string>{160,179}</string>
		</array>
		<array>
			<string>{320,56}</string>
			<string>{480,56}</string>
			<string>{480,179}</string>
			<string>{320,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{240,0}</string>
			<string>{240,90}</string>
			<string>{0,90}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{480,0}</string>
			<string>{480,90}</string>
			<string>{240,90}</string>
		</array>
		<array>
			<string>{0,90}</string>
			<string>{480,90}</string>
			<string>{480,179}</string>
			<string>{0,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{240,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{0,0}</string>
			<string>{480,0}</string>
			<string>{240,179}</string>
		</array>
		<array>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{240,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{240,0}</string>
			<string>{175,90}</string>
			<string>{0,90}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{370,179}</string>
			<string>{110,179}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{480,0}</string>
			<string>{480,90}</string>
			<string>{305,90}</string>
		</array>
		<array>
			<string>{0,90}</string>
			<string>{175,90}</string>
			<string>{110,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{305,90}</string>
			<string>{480,90}</string>
			<string>{480,179}</string>
			<string>{370,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{480,0}</string>
			<string>{480,43}</string>
			<string>{0,43}</string>
		</array>
		<array>
			<string>{0,43}</string>
			<string>{480,43}</string>
			<string>{480,134}</string>
			<string>{0,134}</string>
		</array>
		<array>
			<string>{0,134}</string>
			<string>{480,134}</string>
			<string>{480,179}</string>
			<string>{0,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{480,0}</string>
			<string>{480,64}</string>
			<string>{0,64}</string>
		</array>
		<array>
			<string>{0,64}</string>
			<string>{160,64}</string>
			<string>{160,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{160,64}</string>
			<string>{320,64}</string>
			<string>{320,179}</string>
			<string>{160,179}</string>
		</array>
		<array>
			<string>{320,64}</string>
			<string>{480,64}</string>
			<string>{480,179}</string>
			<string>{320,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{53,0}</string>
			<string>{53,51}</string>
			<string>{0,51}</string>
		</array>
		<array>
			<string>{53,0}</string>
			<string>{106,0}</string>
			<string>{106,51}</string>
			<string>{53,51}</string>
		</array>
		<array>
			<string>{106,0}</string>
			<string>{159,0}</string>
			<string>{159,51}</string>
			<string>{106,51}</string>
		</array>
		<array>
			<string>{159,0}</string>
			<string>{212,0}</string>
			<string>{212,51}</string>
			<string>{159,51}</string>
		</array>
		<array>
			<string>{212,0}</string>
			<string>{265,0}</string>
			<string>{265,51}</string>
			<string>{212,51}</string>
		</array>
		<array>
			<string>{265,0}</string>
			<string>{318,0}</string>
			<string>{318,51}</string>
			<string>{265,51}</string>
		</array>
		<array>
			<string>{318,0}</string>
			<string>{372,0}</string>
			<string>{372,51}</string>
			<string>{318,51}</string>
		</array>
		<array>
			<string>{372,0}</string>
			<string>{426,0}</string>
			<string>{426,51}</string>
			<string>{372,51}</string>
		</array>
		<array>
			<string>{426,0}</string>
			<string>{480,0}</string>
			<string>{480,51}</string>
			<string>{426,51}</string>
		</array>
		<array>
			<string>{0,51}</string>
			<string>{480,51}</string>
			<string>{480,179}</string>
			<string>{0,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{53,0}</string>
			<string>{53,51}</string>
			<string>{0,51}</string>
		</array>
		<array>
			<string>{53,0}</string>
			<string>{106,0}</string>
			<string>{106,51}</string>
			<string>{53,51}</string>
		</array>
		<array>
			<string>{106,0}</string>
			<string>{159,0}</string>
			<string>{159,51}</string>
			<string>{106,51}</string>
		</array>
		<array>
			<string>{159,0}</string>
			<string>{212,0}</string>
			<string>{212,51}</string>
			<string>{159,51}</string>
		</array>
		<array>
			<string>{212,0}</string>
			<string>{265,0}</string>
			<string>{265,51}</string>
			<string>{212,51}</string>
		</array>
		<array>
			<string>{265,0}</string>
			<string>{318,0}</string>
			<string>{318,51}</string>
			<string>{265,51}</string>
		</array>
		<array>
			<string>{318,0}</string>
			<string>{372,0}</string>
			<string>{372,51}</string>
			<string>{318,51}</string>
		</array>
		<array>
			<string>{372,0}</string>
			<string>{426,0}</string>
			<string>{426,51}</string>
			<string>{372,51}</string>
		</array>
		<array>
			<string>{426,0}</string>
			<string>{480,0}</string>
			<string>{480,51}</string>
			<string>{426,51}</string>
		</array>
		<array>
			<string>{0,51}</string>
			<string>{240,51}</string>
			<string>{240,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{240,51}</string>
			<string>{480,51}</string>
			<string>{480,179}</string>
			<string>{240,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{53,0}</string>
			<string>{53,51}</string>
			<string>{0,51}</string>
		</array>
		<array>
			<string>{53,0}</string>
			<string>{106,0}</string>
			<string>{106,51}</string>
			<string>{53,51}</string>
		</array>
		<array>
			<string>{106,0}</string>
			<string>{159,0}</string>
			<string>{159,51}</string>
			<string>{106,51}</string>
		</array>
		<array>
			<string>{159,0}</string>
			<string>{212,0}</string>
			<string>{212,51}</string>
			<string>{159,51}</string>
		</array>
		<array>
			<string>{212,0}</string>
			<string>{265,0}</string>
			<string>{265,51}</string>
			<string>{212,51}</string>
		</array>
		<array>
			<string>{265,0}</string>
			<string>{318,0}</string>
			<string>{318,51}</string>
			<string>{265,51}</string>
		</array>
		<array>
			<string>{318,0}</string>
			<string>{372,0}</string>
			<string>{372,51}</string>
			<string>{318,51}</string>
		</array>
		<array>
			<string>{372,0}</string>
			<string>{426,0}</string>
			<string>{426,51}</string>
			<string>{372,51}</string>
		</array>
		<array>
			<string>{426,0}</string>
			<string>{480,0}</string>
			<string>{480,51}</string>
			<string>{426,51}</string>
		</array>
		<array>
			<string>{0,51}</string>
			<string>{53,51}</string>
			<string>{53,128}</string>
			<string>{0,128}</string>
		</array>
		<array>
			<string>{53,51}</string>
			<string>{106,51}</string>
			<string>{106,128}</string>
			<string>{53,128}</string>
		</array>
		<array>
			<string>{106,51}</string>
			<string>{159,51}</string>
			<string>{159,128}</string>
			<string>{106,128}</string>
		</array>
		<array>
			<string>{159,51}</string>
			<string>{212,51}</string>
			<string>{212,128}</string>
			<string>{159,128}</string>
		</array>
		<array>
			<string>{212,51}</string>
			<string>{265,51}</string>
			<string>{265,128}</string>
			<string>{212,128}</string>
		</array>
		<array>
			<string>{265,51}</string>
			<string>{318,51}</string>
			<string>{318,128}</string>
			<string>{265,128}</string>
		</array>
		<array>
			<string>{318,51}</string>
			<string>{372,51}</string>
			<string>{372,128}</string>
			<string>{318,128}</string>
		</array>
		<array>
			<string>{372,51}</string>
			<string>{426,51}</string>
			<string>{426,128}</string>
			<string>{372,128}</string>
		</array>
		<array>
			<string>{426,51}</string>
			<string>{480,51}</string>
			<string>{480,128}</string>
			<string>{426,128}</string>
		</array>
		<array>
			<string>{0,128}</string>
			<string>{53,128}</string>
			<string>{53,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{53,128}</string>
			<string>{106,128}</string>
			<string>{106,179}</string>
			<string>{53,179}</string>
		</array>
		<array>
			<string>{106,128}</string>
			<string>{159,128}</string>
			<string>{159,179}</string>
			<string>{106,179}</string>
		</array>
		<array>
			<string>{159,128}</string>
			<string>{212,128}</string>
			<string>{212,179}</string>
			<string>{159,179}</string>
		</array>
		<array>
			<string>{212,128}</string>
			<string>{265,128}</string>
			<string>{265,179}</string>
			<string>{212,179}</string>
		</array>
		<array>
			<string>{265,128}</string>
			<string>{318,128}</string>
			<string>{318,179}</string>
			<string>{265,179}</string>
		</array>
		<array>
			<string>{318,128}</string>
			<string>{372,128}</string>
			<string>{372,179}</string>
			<string>{318,179}</string>
		</array>
		<array>
			<string>{372,128}</string>
			<string>{426,128}</string>
			<string>{426,179}</string>
			<string>{372,179}</string>
		</array>
		<array>
			<string>{426,128}</string>
			<string>{480,128}</string>
			<string>{480,179}</string>
			<string>{426,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{240,0}</string>
			<string>{240,90}</string>
			<string>{0,90}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{360,0}</string>
			<string>{360,90}</string>
			<string>{240,90}</string>
		</array>
		<array>
			<string>{360,0}</string>
			<string>{480,0}</string>
			<string>{480,90}</string>
			<string>{360,90}</string>
		</array>
		<array>
			<string>{0,90}</string>
			<string>{120,90}</string>
			<string>{120,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{120,90}</string>
			<string>{240,90}</string>
			<string>{240,179}</string>
			<string>{120,179}</string>
		</array>
		<array>
			<string>{240,90}</string>
			<string>{480,90}</string>
			<string>{480,179}</string>
			<string>{240,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{80,0}</string>
			<string>{80,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{80,0}</string>
			<string>{240,0}</string>
			<string>{240,179}</string>
			<string>{80,179}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{400,0}</string>
			<string>{400,179}</string>
			<string>{240,179}</string>
		</array>
		<array>
			<string>{400,0}</string>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{400,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{240,0}</string>
			<string>{240,90}</string>
			<string>{0,90}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{480,0}</string>
			<string>{480,90}</string>
			<string>{240,90}</string>
		</array>
		<array>
			<string>{0,90}</string>
			<string>{240,90}</string>
			<string>{240,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{240,90}</string>
			<string>{480,90}</string>
			<string>{480,179}</string>
			<string>{240,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{8,47}</string>
			<string>{78,47}</string>
			<string>{78,117}</string>
			<string>{8,117}</string>
		</array>
		<array>
			<string>{86,47}</string>
			<string>{156,47}</string>
			<string>{156,117}</string>
			<string>{86,117}</string>
		</array>
		<array>
			<string>{164,47}</string>
			<string>{234,47}</string>
			<string>{234,117}</string>
			<string>{164,117}</string>
		</array>
		<array>
			<string>{242,47}</string>
			<string>{312,47}</string>
			<string>{312,117}</string>
			<string>{242,117}</string>
		</array>
		<array>
			<string>{320,47}</string>
			<string>{390,47}</string>
			<string>{390,117}</string>
			<string>{320,117}</string>
		</array>
		<array>
			<string>{398,47}</string>
			<string>{468,47}</string>
			<string>{468,117}</string>
			<string>{398,117}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{126,30}</string>
			<string>{213,30}</string>
			<string>{213,149}</string>
			<string>{126,149}</string>
		</array>
		<array>
			<string>{266,30}</string>
			<string>{353,30}</string>
			<string>{353,149}</string>
			<string>{266,149}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{240,0}</string>
			<string>{240,119}</string>
			<string>{0,119}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{480,0}</string>
			<string>{480,60}</string>
			<string>{240,60}</string>
		</array>
		<array>
			<string>{0,119}</string>
			<string>{240,119}</string>
			<string>{240,179}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{240,60}</string>
			<string>{480,60}</string>
			<string>{480,179}</string>
			<string>{240,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{480,0}</string>
			<string>{480,90}</string>
			<string>{295,90}</string>
			<string>{295,34}</string>
			<string>{183,34}</string>
			<string>{183,90}</string>
			<string>{0,90}</string>
		</array>
		<array>
			<string>{183,34}</string>
			<string>{295,34}</string>
			<string>{295,146}</string>
			<string>{183,146}</string>
		</array>
		<array>
			<string>{0,90}</string>
			<string>{183,90}</string>
			<string>{183,146}</string>
			<string>{295,146}</string>
			<string>{295,90}</string>
			<string>{480,90}</string>
			<string>{480,179}</string>
			<string>{0,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{480,0}</string>
			<string>{240,90}</string>
		</array>
		<array>
			<string>{0,0}</string>
			<string>{240,90}</string>
			<string>{0,179}</string>
		</array>
		<array>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{240,90}</string>
		</array>
		<array>
			<string>{240,90}</string>
			<string>{480,179}</string>
			<string>{0,179}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{480,0}</string>
			<string>{84,90}</string>
			<string>{0,90}</string>
		</array>
		<array>
			<string>{480,0}</string>
			<string>{480,179}</string>
			<string>{84,90}</string>
		</array>
		<array>
			<string>{0,90}</string>
			<string>{84,90}</string>
			<string>{480,179}</string>
			<string>{0,179}</string>
		</array>
	</array>
</array>
</plist>
