<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>255,235,0</string>
	<string>224,5,28</string>
	<string>149,191,46</string>
	<string>61,168,58</string>
	<string>227,0,125</string>
	<string>21,160,153</string>
	<string>47,170,222</string>
	<string>18,114,182</string>
	<string>41,46,128</string>
	<string>230,77,38</string>
	<string>100,37,128</string>
	<string>147,30,127</string>
</array>
</plist>
