<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{160,214}</string>
			<string>{0,214}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{320,0}</string>
			<string>{320,106}</string>
			<string>{160,106}</string>
		</array>
		<array>
			<string>{0,214}</string>
			<string>{160,214}</string>
			<string>{160,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{160,106}</string>
			<string>{320,106}</string>
			<string>{320,320}</string>
			<string>{160,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{160,214}</string>
			<string>{0,214}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{320,0}</string>
			<string>{320,320}</string>
			<string>{160,320}</string>
		</array>
		<array>
			<string>{0,214}</string>
			<string>{160,214}</string>
			<string>{160,320}</string>
			<string>{0,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{160,160}</string>
			<string>{0,160}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{320,0}</string>
			<string>{320,160}</string>
			<string>{160,160}</string>
		</array>
		<array>
			<string>{0,160}</string>
			<string>{160,160}</string>
			<string>{160,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{160,160}</string>
			<string>{320,160}</string>
			<string>{320,320}</string>
			<string>{160,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{160,80}</string>
			<string>{0,80}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{320,0}</string>
			<string>{320,80}</string>
			<string>{160,80}</string>
		</array>
		<array>
			<string>{0,80}</string>
			<string>{320,80}</string>
			<string>{320,240}</string>
			<string>{0,240}</string>
		</array>
		<array>
			<string>{0,240}</string>
			<string>{160,240}</string>
			<string>{160,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{160,240}</string>
			<string>{320,240}</string>
			<string>{320,320}</string>
			<string>{160,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{160,160}</string>
			<string>{0,160}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{320,0}</string>
			<string>{320,160}</string>
			<string>{160,160}</string>
		</array>
		<array>
			<string>{0,160}</string>
			<string>{320,160}</string>
			<string>{320,320}</string>
			<string>{0,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{160,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{320,0}</string>
			<string>{320,160}</string>
			<string>{160,160}</string>
		</array>
		<array>
			<string>{160,160}</string>
			<string>{320,160}</string>
			<string>{320,320}</string>
			<string>{160,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{320,0}</string>
			<string>{320,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{160,60}</string>
			<string>{280,260}</string>
			<string>{40,260}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{320,0}</string>
			<string>{320,225}</string>
			<string>{0,225}</string>
		</array>
		<array>
			<string>{0,225}</string>
			<string>{320,225}</string>
			<string>{320,320}</string>
			<string>{0,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{320,0}</string>
			<string>{160,160}</string>
		</array>
		<array>
			<string>{0,0}</string>
			<string>{160,160}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{320,0}</string>
			<string>{320,320}</string>
			<string>{160,160}</string>
		</array>
		<array>
			<string>{160,160}</string>
			<string>{320,320}</string>
			<string>{0,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{320,0}</string>
			<string>{320,106}</string>
			<string>{0,106}</string>
		</array>
		<array>
			<string>{0,106}</string>
			<string>{320,106}</string>
			<string>{320,213}</string>
			<string>{0,213}</string>
		</array>
		<array>
			<string>{0,213}</string>
			<string>{320,213}</string>
			<string>{320,320}</string>
			<string>{0,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{106,0}</string>
			<string>{106,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{106,0}</string>
			<string>{213,0}</string>
			<string>{213,320}</string>
			<string>{106,320}</string>
		</array>
		<array>
			<string>{213,0}</string>
			<string>{320,0}</string>
			<string>{320,320}</string>
			<string>{213,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{320,0}</string>
			<string>{320,213}</string>
			<string>{0,213}</string>
		</array>
		<array>
			<string>{0,213}</string>
			<string>{106,213}</string>
			<string>{106,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{106,213}</string>
			<string>{213,213}</string>
			<string>{213,320}</string>
			<string>{106,320}</string>
		</array>
		<array>
			<string>{213,213}</string>
			<string>{320,213}</string>
			<string>{320,320}</string>
			<string>{213,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{160,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{320,0}</string>
			<string>{320,320}</string>
			<string>{160,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{320,0}</string>
			<string>{320,160}</string>
			<string>{0,160}</string>
		</array>
		<array>
			<string>{0,160}</string>
			<string>{320,160}</string>
			<string>{320,320}</string>
			<string>{0,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{80,0}</string>
			<string>{80,80}</string>
			<string>{0,80}</string>
		</array>
		<array>
			<string>{80,0}</string>
			<string>{160,0}</string>
			<string>{160,80}</string>
			<string>{80,80}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{240,0}</string>
			<string>{240,80}</string>
			<string>{160,80}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{320,0}</string>
			<string>{320,80}</string>
			<string>{240,80}</string>
		</array>
		<array>
			<string>{0,80}</string>
			<string>{320,80}</string>
			<string>{320,240}</string>
			<string>{0,240}</string>
		</array>
		<array>
			<string>{0,240}</string>
			<string>{80,240}</string>
			<string>{80,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{80,240}</string>
			<string>{160,240}</string>
			<string>{160,320}</string>
			<string>{80,320}</string>
		</array>
		<array>
			<string>{160,240}</string>
			<string>{240,240}</string>
			<string>{240,320}</string>
			<string>{160,320}</string>
		</array>
		<array>
			<string>{240,240}</string>
			<string>{320,240}</string>
			<string>{320,320}</string>
			<string>{240,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{100,0}</string>
			<string>{100,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{100,0}</string>
			<string>{320,0}</string>
			<string>{320,200}</string>
			<string>{100,200}</string>
		</array>
		<array>
			<string>{100,200}</string>
			<string>{320,200}</string>
			<string>{320,320}</string>
			<string>{100,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{320,0}</string>
			<string>{320,160}</string>
			<string>{160,160}</string>
			<string>{160,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{160,160}</string>
			<string>{320,160}</string>
			<string>{320,320}</string>
			<string>{160,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{80,0}</string>
			<string>{80,80}</string>
			<string>{0,80}</string>
		</array>
		<array>
			<string>{80,0}</string>
			<string>{160,0}</string>
			<string>{160,80}</string>
			<string>{80,80}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{240,0}</string>
			<string>{240,80}</string>
			<string>{160,80}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{320,0}</string>
			<string>{320,80}</string>
			<string>{240,80}</string>
		</array>
		<array>
			<string>{0,80}</string>
			<string>{80,80}</string>
			<string>{80,160}</string>
			<string>{0,160}</string>
		</array>
		<array>
			<string>{80,80}</string>
			<string>{160,80}</string>
			<string>{160,160}</string>
			<string>{80,160}</string>
		</array>
		<array>
			<string>{160,80}</string>
			<string>{240,80}</string>
			<string>{240,160}</string>
			<string>{160,160}</string>
		</array>
		<array>
			<string>{240,80}</string>
			<string>{320,80}</string>
			<string>{320,160}</string>
			<string>{240,160}</string>
		</array>
		<array>
			<string>{0,160}</string>
			<string>{80,160}</string>
			<string>{80,240}</string>
			<string>{0,240}</string>
		</array>
		<array>
			<string>{80,160}</string>
			<string>{160,160}</string>
			<string>{160,240}</string>
			<string>{80,240}</string>
		</array>
		<array>
			<string>{160,160}</string>
			<string>{240,160}</string>
			<string>{240,240}</string>
			<string>{160,240}</string>
		</array>
		<array>
			<string>{240,160}</string>
			<string>{320,160}</string>
			<string>{320,240}</string>
			<string>{240,240}</string>
		</array>
		<array>
			<string>{0,240}</string>
			<string>{80,240}</string>
			<string>{80,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{80,240}</string>
			<string>{160,240}</string>
			<string>{160,320}</string>
			<string>{80,320}</string>
		</array>
		<array>
			<string>{160,240}</string>
			<string>{240,240}</string>
			<string>{240,320}</string>
			<string>{160,320}</string>
		</array>
		<array>
			<string>{240,240}</string>
			<string>{320,240}</string>
			<string>{320,320}</string>
			<string>{240,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{106,0}</string>
			<string>{106,106}</string>
			<string>{0,106}</string>
		</array>
		<array>
			<string>{106,0}</string>
			<string>{212,0}</string>
			<string>{212,106}</string>
			<string>{106,106}</string>
		</array>
		<array>
			<string>{212,0}</string>
			<string>{320,0}</string>
			<string>{320,106}</string>
			<string>{212,106}</string>
		</array>
		<array>
			<string>{0,106}</string>
			<string>{106,106}</string>
			<string>{106,212}</string>
			<string>{0,212}</string>
		</array>
		<array>
			<string>{106,106}</string>
			<string>{212,106}</string>
			<string>{212,212}</string>
			<string>{106,212}</string>
		</array>
		<array>
			<string>{212,106}</string>
			<string>{320,106}</string>
			<string>{320,212}</string>
			<string>{212,212}</string>
		</array>
		<array>
			<string>{0,212}</string>
			<string>{106,212}</string>
			<string>{106,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{106,212}</string>
			<string>{212,212}</string>
			<string>{212,320}</string>
			<string>{106,320}</string>
		</array>
		<array>
			<string>{212,212}</string>
			<string>{320,212}</string>
			<string>{320,320}</string>
			<string>{212,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{160,94}</string>
			<string>{94,94}</string>
			<string>{94,160}</string>
			<string>{0,160}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{320,0}</string>
			<string>{320,160}</string>
			<string>{225,160}</string>
			<string>{225,94}</string>
			<string>{160,94}</string>
		</array>
		<array>
			<string>{94,94}</string>
			<string>{160,94}</string>
			<string>{160,160}</string>
			<string>{94,160}</string>
		</array>
		<array>
			<string>{160,94}</string>
			<string>{225,94}</string>
			<string>{225,160}</string>
			<string>{160,160}</string>
		</array>
		<array>
			<string>{0,160}</string>
			<string>{94,160}</string>
			<string>{94,225}</string>
			<string>{160,225}</string>
			<string>{160,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{94,160}</string>
			<string>{160,160}</string>
			<string>{160,225}</string>
			<string>{94,225}</string>
		</array>
		<array>
			<string>{160,225}</string>
			<string>{225,225}</string>
			<string>{225,160}</string>
			<string>{320,160}</string>
			<string>{320,320}</string>
			<string>{160,320}</string>
		</array>
		<array>
			<string>{160,160}</string>
			<string>{225,160}</string>
			<string>{225,225}</string>
			<string>{160,225}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{160,0}</string>
			<string>{0,160}</string>
		</array>
		<array>
			<string>{160,0}</string>
			<string>{320,0}</string>
			<string>{0,320}</string>
			<string>{0,160}</string>
		</array>
		<array>
			<string>{320,0}</string>
			<string>{320,160}</string>
			<string>{160,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{320,160}</string>
			<string>{320,320}</string>
			<string>{160,320}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{320,0}</string>
			<string>{320,320}</string>
			<string>{0,320}</string>
		</array>
		<array>
			<string>{160,30}</string>
			<string>{205,115}</string>
			<string>{300,130}</string>
			<string>{230,195}</string>
			<string>{250,290}</string>
			<string>{165,250}</string>
			<string>{70,290}</string>
			<string>{90,195}</string>
			<string>{25,130}</string>
			<string>{120,115}</string>
		</array>
	</array>
</array>
</plist>
