<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{381,0}</string>
			<string>{381,68}</string>
			<string>{0,68}</string>
		</array>
		<array>
			<string>{0,68}</string>
			<string>{381,68}</string>
			<string>{381,186}</string>
			<string>{0,186}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{381,0}</string>
			<string>{381,186}</string>
			<string>{0,186}</string>
		</array>
		<array>
			<string>{51,14}</string>
			<string>{113,14}</string>
			<string>{113,68}</string>
			<string>{51,68}</string>
		</array>
		<array>
			<string>{273,14}</string>
			<string>{334,14}</string>
			<string>{334,68}</string>
			<string>{273,68}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{381,0}</string>
			<string>{381,65}</string>
			<string>{0,65}</string>
		</array>
		<array>
			<string>{0,65}</string>
			<string>{162,65}</string>
			<string>{162,105}</string>
			<string>{0,105}</string>
		</array>
		<array>
			<string>{162,65}</string>
			<string>{224,65}</string>
			<string>{224,105}</string>
			<string>{162,105}</string>
		</array>
		<array>
			<string>{224,65}</string>
			<string>{381,65}</string>
			<string>{381,105}</string>
			<string>{224,105}</string>
		</array>
		<array>
			<string>{0,105}</string>
			<string>{162,105}</string>
			<string>{162,145}</string>
			<string>{0,145}</string>
		</array>
		<array>
			<string>{162,105}</string>
			<string>{224,105}</string>
			<string>{224,145}</string>
			<string>{162,145}</string>
		</array>
		<array>
			<string>{224,105}</string>
			<string>{381,105}</string>
			<string>{381,145}</string>
			<string>{224,145}</string>
		</array>
		<array>
			<string>{0,145}</string>
			<string>{162,145}</string>
			<string>{162,186}</string>
			<string>{0,186}</string>
		</array>
		<array>
			<string>{162,145}</string>
			<string>{224,145}</string>
			<string>{224,186}</string>
			<string>{162,186}</string>
		</array>
		<array>
			<string>{224,145}</string>
			<string>{381,145}</string>
			<string>{381,186}</string>
			<string>{224,186}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{90,93}</string>
			<string>{0,186}</string>
		</array>
		<array>
			<string>{0,0}</string>
			<string>{381,0}</string>
			<string>{296,93}</string>
			<string>{90,93}</string>
		</array>
		<array>
			<string>{381,0}</string>
			<string>{381,186}</string>
			<string>{296,93}</string>
		</array>
		<array>
			<string>{90,93}</string>
			<string>{296,93}</string>
			<string>{381,186}</string>
			<string>{0,186}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{128,0}</string>
			<string>{128,186}</string>
			<string>{0,186}</string>
		</array>
		<array>
			<string>{128,0}</string>
			<string>{255,0}</string>
			<string>{255,186}</string>
			<string>{128,186}</string>
		</array>
		<array>
			<string>{255,0}</string>
			<string>{381,0}</string>
			<string>{381,186}</string>
			<string>{255,186}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{381,0}</string>
			<string>{381,93}</string>
			<string>{0,93}</string>
		</array>
		<array>
			<string>{0,93}</string>
			<string>{381,93}</string>
			<string>{381,186}</string>
			<string>{0,186}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{190,0}</string>
			<string>{190,186}</string>
			<string>{0,186}</string>
		</array>
		<array>
			<string>{190,0}</string>
			<string>{381,0}</string>
			<string>{381,186}</string>
			<string>{190,186}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{381,0}</string>
			<string>{381,186}</string>
			<string>{0,186}</string>
		</array>
		<array>
			<string>{12,14}</string>
			<string>{108,14}</string>
			<string>{108,67}</string>
			<string>{12,67}</string>
		</array>
		<array>
			<string>{273,14}</string>
			<string>{369,14}</string>
			<string>{369,67}</string>
			<string>{273,67}</string>
		</array>
		<array>
			<string>{12,110}</string>
			<string>{108,110}</string>
			<string>{108,162}</string>
			<string>{12,162}</string>
		</array>
		<array>
			<string>{273,110}</string>
			<string>{369,110}</string>
			<string>{369,162}</string>
			<string>{273,162}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{48,0}</string>
			<string>{48,46}</string>
			<string>{0,46}</string>
		</array>
		<array>
			<string>{48,0}</string>
			<string>{96,0}</string>
			<string>{96,46}</string>
			<string>{48,46}</string>
		</array>
		<array>
			<string>{96,0}</string>
			<string>{144,0}</string>
			<string>{144,46}</string>
			<string>{96,46}</string>
		</array>
		<array>
			<string>{144,0}</string>
			<string>{192,0}</string>
			<string>{192,46}</string>
			<string>{144,46}</string>
		</array>
		<array>
			<string>{192,0}</string>
			<string>{240,0}</string>
			<string>{240,46}</string>
			<string>{192,46}</string>
		</array>
		<array>
			<string>{240,0}</string>
			<string>{288,0}</string>
			<string>{288,46}</string>
			<string>{240,46}</string>
		</array>
		<array>
			<string>{288,0}</string>
			<string>{336,0}</string>
			<string>{336,46}</string>
			<string>{288,46}</string>
		</array>
		<array>
			<string>{336,0}</string>
			<string>{381,0}</string>
			<string>{381,46}</string>
			<string>{336,46}</string>
		</array>
		<array>
			<string>{0,46}</string>
			<string>{48,46}</string>
			<string>{48,92}</string>
			<string>{0,92}</string>
		</array>
		<array>
			<string>{48,46}</string>
			<string>{96,46}</string>
			<string>{96,92}</string>
			<string>{48,92}</string>
		</array>
		<array>
			<string>{96,46}</string>
			<string>{144,46}</string>
			<string>{144,92}</string>
			<string>{96,92}</string>
		</array>
		<array>
			<string>{144,46}</string>
			<string>{192,46}</string>
			<string>{192,92}</string>
			<string>{144,92}</string>
		</array>
		<array>
			<string>{192,46}</string>
			<string>{240,46}</string>
			<string>{240,92}</string>
			<string>{192,92}</string>
		</array>
		<array>
			<string>{240,46}</string>
			<string>{288,46}</string>
			<string>{288,92}</string>
			<string>{240,92}</string>
		</array>
		<array>
			<string>{288,46}</string>
			<string>{336,46}</string>
			<string>{336,92}</string>
			<string>{288,92}</string>
		</array>
		<array>
			<string>{336,46}</string>
			<string>{381,46}</string>
			<string>{381,92}</string>
			<string>{336,92}</string>
		</array>
		<array>
			<string>{0,92}</string>
			<string>{48,92}</string>
			<string>{48,138}</string>
			<string>{0,138}</string>
		</array>
		<array>
			<string>{48,92}</string>
			<string>{96,92}</string>
			<string>{96,138}</string>
			<string>{48,138}</string>
		</array>
		<array>
			<string>{96,92}</string>
			<string>{144,92}</string>
			<string>{144,138}</string>
			<string>{96,138}</string>
		</array>
		<array>
			<string>{144,92}</string>
			<string>{192,92}</string>
			<string>{192,138}</string>
			<string>{144,138}</string>
		</array>
		<array>
			<string>{192,92}</string>
			<string>{240,92}</string>
			<string>{240,138}</string>
			<string>{192,138}</string>
		</array>
		<array>
			<string>{240,92}</string>
			<string>{288,92}</string>
			<string>{288,138}</string>
			<string>{240,138}</string>
		</array>
		<array>
			<string>{288,92}</string>
			<string>{336,92}</string>
			<string>{336,138}</string>
			<string>{288,138}</string>
		</array>
		<array>
			<string>{336,92}</string>
			<string>{381,92}</string>
			<string>{381,138}</string>
			<string>{336,138}</string>
		</array>
		<array>
			<string>{0,138}</string>
			<string>{48,138}</string>
			<string>{48,186}</string>
			<string>{0,186}</string>
		</array>
		<array>
			<string>{48,138}</string>
			<string>{96,138}</string>
			<string>{96,186}</string>
			<string>{48,186}</string>
		</array>
		<array>
			<string>{96,138}</string>
			<string>{144,138}</string>
			<string>{144,186}</string>
			<string>{96,186}</string>
		</array>
		<array>
			<string>{144,138}</string>
			<string>{192,138}</string>
			<string>{192,186}</string>
			<string>{144,186}</string>
		</array>
		<array>
			<string>{192,138}</string>
			<string>{240,138}</string>
			<string>{240,186}</string>
			<string>{192,186}</string>
		</array>
		<array>
			<string>{240,138}</string>
			<string>{288,138}</string>
			<string>{288,186}</string>
			<string>{240,186}</string>
		</array>
		<array>
			<string>{288,138}</string>
			<string>{336,138}</string>
			<string>{336,186}</string>
			<string>{288,186}</string>
		</array>
		<array>
			<string>{336,138}</string>
			<string>{381,138}</string>
			<string>{381,186}</string>
			<string>{336,186}</string>
		</array>
	</array>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{381,0}</string>
			<string>{193,91}</string>
		</array>
		<array>
			<string>{0,0}</string>
			<string>{193,91}</string>
			<string>{193,186}</string>
			<string>{0,186}</string>
		</array>
		<array>
			<string>{193,91}</string>
			<string>{381,0}</string>
			<string>{381,186}</string>
			<string>{193,186}</string>
		</array>
	</array>
</array>
</plist>
