<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>6</string>
		<key>str</key>
		<string>Amatic-Bold</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9</string>
		<key>str</key>
		<string>BebasNeue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9</string>
		<key>str</key>
		<string>BlackJack</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>str</key>
		<string>Blackout-2am</string>
	</dict>
	<dict>
		<key>name</key>
		<string>15</string>
		<key>str</key>
		<string>Blackout-Midnight</string>
	</dict>
	<dict>
		<key>name</key>
		<string>10</string>
		<key>str</key>
		<string>BodoniXT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>15</string>
		<key>str</key>
		<string>Capture it</string>
	</dict>
	<dict>
		<key>name</key>
		<string>15</string>
		<key>str</key>
		<string>Capture it 2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13</string>
		<key>str</key>
		<string>Chunkfive</string>
	</dict>
	<dict>
		<key>name</key>
		<string>18</string>
		<key>str</key>
		<string>GravitasOne</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13</string>
		<key>str</key>
		<string>HVD Poster</string>
	</dict>
	<dict>
		<key>name</key>
		<string>14</string>
		<key>str</key>
		<string>Impact Label</string>
	</dict>
	<dict>
		<key>name</key>
		<string>14</string>
		<key>str</key>
		<string>Impact Label Reversed</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>str</key>
		<string>Lato-Black</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>str</key>
		<string>Lato-BoldItalic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>11</string>
		<key>str</key>
		<string>Lato-Light</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>str</key>
		<string>Lato-Regular</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>str</key>
		<string>Lato-Italic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9</string>
		<key>str</key>
		<string>Learning Curve Pro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9</string>
		<key>str</key>
		<string>LondrinaSolid-Regular</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13</string>
		<key>str</key>
		<string>Montserrat</string>
	</dict>
	<dict>
		<key>name</key>
		<string>15</string>
		<key>str</key>
		<string>NeoRetroDraw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>15</string>
		<key>str</key>
		<string>NeoRetroFill</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13</string>
		<key>str</key>
		<string>nevis</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>str</key>
		<string>OstrichSans-Black</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>str</key>
		<string>OstrichSans-Bold</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9</string>
		<key>str</key>
		<string>OstrichSans-Light</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9</string>
		<key>str</key>
		<string>OstrichSans-Medium</string>
	</dict>
	<dict>
		<key>name</key>
		<string>14</string>
		<key>str</key>
		<string>Pacifico</string>
	</dict>
	<dict>
		<key>name</key>
		<string>14</string>
		<key>str</key>
		<string>PermanentMarker</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>str</key>
		<string>PTSerif-Italic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>str</key>
		<string>PTSerif-Bold</string>
	</dict>
	<dict>
		<key>name</key>
		<string>12</string>
		<key>str</key>
		<string>PTSerif-BoldItalic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>14</string>
		<key>str</key>
		<string>PT Serif Caption</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7</string>
		<key>str</key>
		<string>Quicksand-Italic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7</string>
		<key>str</key>
		<string>QuicksandBook-Regular</string>
	</dict>
	<dict>
		<key>name</key>
		<string>7</string>
		<key>str</key>
		<string>QuicksandDash-Regular</string>
	</dict>
	<dict>
		<key>name</key>
		<string>20</string>
		<key>str</key>
		<string>Sedgwick Co</string>
	</dict>
	<dict>
		<key>name</key>
		<string>8</string>
		<key>str</key>
		<string>Snickles</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13</string>
		<key>str</key>
		<string>SourceSansPro-Black</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13</string>
		<key>str</key>
		<string>SourceSansPro-ExtraLight</string>
	</dict>
	<dict>
		<key>name</key>
		<string>13</string>
		<key>str</key>
		<string>SourceSansPro-Regular</string>
	</dict>
	<dict>
		<key>name</key>
		<string>15</string>
		<key>str</key>
		<string>Vanilla</string>
	</dict>
</array>
</plist>
